*{
	padding:0;
	margin:0;
}
#somescrolllist{
    width: 500px;
	height:400px;
	margin:5px;
	position:relative;
}
#somescrolllist li{
	height:50px;
	width:500px;
	border:1px solid #bfbfbf;
	list-style-type:none;
	margin-bottom:5px;
}
.scrollbar{
	position:absolute;
	right:10px;
	top:0px;
	width:15px;
	border:1px solid #bfbfbf;
    height: 400px;
    z-index: 9;
}
.scrollbar .handle{
	background:#bfbfbf;
	width:15px;
	height:79px;
	position:absolute;
    top:0;
	z-index:10
}
