#dict-viclm-simple {
    font-family: Arial, 'Microsoft Yahei', Simsun, sans-serif;
    font-size: 12px;
    position: absolute;
    display: inline-block;
    padding: 5px;
    color:#000;
    background:#f3961c;
    z-index: 19860208;

    border-radius:5px;
    background:-moz-linear-gradient(top, #f9d835, #f3961c);
    background:linear-gradient(top, #f9d835, #f3961c);
}

#dict-viclm-simple * {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

#dict-viclm-simple header {
    display: -webkit-box;
}

#dict-viclm-simple h1 {
    margin: 0 0 5px 0;
    font-size: 1em;
}

#dict-viclm-simple header span{
    color: #333;
    margin-left: 5px;
}

#dict-viclm-simple ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* creates triangle */
#dict-viclm-simple  div:last-of-type {
   position:absolute;
   left:50%;
   width:0;
   border-style:solid;
   border-color:#f3961c transparent;
   background-color: rgba(0,0,0,0);
}

#dict-viclm-simple div.up:last-of-type {
   top:-6px;
   border-width:0 6px 6px;
}

#dict-viclm-simple div.down:last-of-type {
   bottom:-6px;
   border-width:6px 6px 0;
}


.orange {}
